Bimodal_HDX_Data/output_28Dec2023/hdx_ms_hxex3_LeuEnk_HI0001-0005binom_isotope_p100_BootFits_bootNoise0p01_28Dec2023.pdf
Bimodal_HDX_Data/output_28Dec2023/hdx_ms_hxex3_LeuEnk_HI0001-0005binom_isotope_p100_BootFits_bootNoise0p01_28Dec2023.pdf
Bimodal_HDX_Data/output_28Dec2023/hdx_ms_hxex3_LeuEnk_HI0001-0005binom_isotope_p100_IndFits_bootNoise0p01_28Dec2023.pdf
Bimodal_HDX_Data/output_28Dec2023/hdx_ms_hxex3_LeuEnk_HI0001-0005binom_isotope_p100_ndeutBoot_bootNoise0p01_28Dec2023.pdf
Bimodal_HDX_Data/output_28Dec2023/hdx_ms_hxex3_LeuEnk_HI0001-0005binom_isotope_p100_BootFits_bootNoise0p01_28Dec2023.pdf
Bimodal_HDX_Data/output_28Dec2023/hdx_ms_hxex3_LeuEnk_HI0001-0005binom_isotope_p100_IndFits_bootNoise0p01_28Dec2023.pdf
Bimodal_HDX_Data/output_28Dec2023/hdx_ms_hxex3_LeuEnk_HI0001-0005binom_isotope_p100_ndeutBoot_bootNoise0p01_28Dec2023.pdf
Bimodal_HDX_Data/output_28Dec2023/hdxms_params_28Dec2023.py
Bimodal_HDX_Data/output_28Dec2023/output_v3allfracs_28Dec2023.txt
__pycache__/config.cpython-38.pyc
pyhxexpress/__pycache__/__init__.cpython-38.pyc
pyhxexpress/__pycache__/pyhxexpress.cpython-38.pyc
__pycache__/config.cpython-38.pyc
